{% extends "layout.html" %}

{% block body %}
  <div id="map"></div>
    <script>
    var map = L.map('map').setView([51.05310, 3.71865], 14);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var routing = L.Routing.control({
        waypoints: [
            L.latLng(51.04130620199642, 3.7283563613891597),
            L.latLng(51.057055113388515, 3.7207388877868652)
        ],
        routeWhileDragging: true
    }).addTo(map);

    function createButton(label, container) {
        var btn = L.DomUtil.create('button', '', container);
        btn.setAttribute('type', 'button');
        btn.innerHTML = label;
        return btn;
    }

    var problems = L.featureGroup().addTo(map);

    routing.on('routesfound', function(e) {
        setTimeout(function() {
            var coordinates = routing._line._route.coordinates,
                layer = L.polyline(coordinates),
                geojson = layer.toGeoJSON();

            console.log(geojson.geometry);
            $.ajax({
                type: "POST",
                url: "/check",
                processData: false,
                data: JSON.stringify(geojson.geometry),
                success: function(r) {
                    problems.clearLayers();
                    L.geoJson(JSON.parse(r), {
                        onEachFeature: function(feature, layer) {
                            problems.addLayer(layer);
                        },
                        style: function (feature) {
                            return {
                                color: '#f00',
                                opacity: 1,
                                weight: 10
                            };
                        }
                    });
                    problems.bringToBack();
                }
            });
        }, 100)
    });

    // var coordinates = routing._line._route.coordinates,
    //     layer = L.polyline(coordinates),
    //     geojson = layer.toGeoJSON();

    </script>
{% endblock %}
